* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  height: 100vh;
  background-color:  #FE90AF;
  background-size: cover;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 500px;
  padding: 1.5em;
  background-color:  #FE90AF;
  color: rgb(206, 201, 201);
}

.show-guess {
  padding: 1.25em;
  background-color: white;
  color: #dbd9d9;
  font-size: 3.5em;
  font-weight: bold;
  border-radius: 50px;
  background: #f099b2;
  box-shadow: 20px 20px 60px #489dcf, -20px -20px 60px #62d5ff;
}

.response {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.8;
  width: 70%;
  border-radius: 30px;
}
